$blue: #3376fe;
$blue-100: #79e6ff;
$blue-200: #63c6ff;
$blue-300: #51a8ff;
$blue-400: #408eff;
$blue-500: #3376fe;
$blue-600: #133c98;
$blue-700: #031852;
$blue-800: #000624;
$blue-900: #00000b;
$indigo: #6662fb;
$indigo-100: #cac7ff;
$indigo-200: #ada9ff;
$indigo-300: #938fff;
$indigo-400: #7b77ff;
$indigo-500: #6662fb;
$indigo-600: #332f96;
$indigo-700: #151150;
$indigo-800: #060323;
$indigo-900: #01000b;
$purple: #a053ce;
$purple-100: #ffadff;
$purple-200: #fe92ff;
$purple-300: #db7aff;
$purple-400: #bc65f0;
$purple-500: #a053ce;
$purple-600: #582677;
$purple-700: #290c3c;
$purple-800: #0f0119;
$purple-900: #030006;
$pink: #d1498e;
$pink-100: #ff9eff;
$pink-200: #ff85e5;
$pink-300: #ff6ec5;
$pink-400: #f35aa8;
$pink-500: #d1498e;
$pink-600: #77204c;
$pink-700: #3b0922;
$pink-800: #17000c;
$pink-900: #050002;
$red: #eb4852;
$red-100: #ff9dab;
$red-200: #ff8390;
$red-300: #ff6d79;
$red-400: #ff5964;
$red-500: #eb4852;
$red-600: #881f26;
$red-700: #45090d;
$red-800: #1c0002;
$red-900: #060000;
$orange: #be6215;
$orange-100: #ffc546;
$orange-200: #ffa837;
$orange-300: #ff8e29;
$orange-400: #de761e;
$orange-500: #be6215;
$orange-600: #6c2f02;
$orange-700: #351100;
$orange-800: #140300;
$orange-900: #040000;
$yellow: #847815;
$yellow-100: #f8e847;
$yellow-200: #d7c738;
$yellow-300: #b8aa2a;
$yellow-400: #9d8f1f;
$yellow-500: #847815;
$yellow-600: #463d02;
$yellow-700: #1f1900;
$yellow-800: #0a0700;
$yellow-900: #020000;
$green: #488c2b;
$green-100: #9bff6c;
$green-200: #82e358;
$green-300: #6cc347;
$green-400: #59a638;
$green-500: #488c2b;
$green-600: #1f4b0e;
$green-700: #092101;
$green-800: #010b00;
$green-900: #000100;
$teal: #069796;
$teal-100: #34ffff;
$teal-200: #26f3f1;
$teal-300: #19d1d0;
$teal-400: #0fb2b1;
$teal-500: #069796;
$teal-600: #005152;
$teal-700: #002526;
$teal-800: #000c0d;
$teal-900: #000202;
$cyan: #108ad7;
$cyan-100: #42ffff;
$cyan-200: #32e1ff;
$cyan-300: #25c1ff;
$cyan-400: #19a4f9;
$cyan-500: #108ad7;
$cyan-600: #00497d;
$cyan-700: #002040;
$cyan-800: #000a1b;
$cyan-900: #000107;
